head
    meta(charset='utf-8')
    title Title2
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css')

    body
        .modal-dialog
            .modal-content
                // Modal Header
                .modal-header
                    button.close(type="button", data-dismiss="modal")
                        span(aria-hidden="true", onclick="location.href='/'") ×
                        span.sr-only Close
                    h4#myModalLabel.modal-title
                        | Edit Resource
                // Modal Body
                .modal-body
                    //#editForm.form(role='form' method='GET' action='https://www.google.com/')
                    form(role='form' method='GET' action='#{currentURL}')
                        div.form-group
                            label(for='ID') Name:
                            input#ID.form-control(type='text', placeholder='exam@email.com' name='ID')
                        div.form-group
                            label(for='PW') Email:
                            input#PW.form-control(type='password', placeholder='password' name='PW')
                        button.btn.btn-primary(type="submit", name="submitBtn") Submit
                        button.btn.btn-default(type="button", data-dismiss="modal", onclick="location.href='/'")
                            | Close
                // Modal Footer
                .modal-footer
                    a(href='/') Return to Index

        // footer
        p.foot.text-xs-center test